$color_1: #222222;
$color_2: rgb(255, 255, 255);
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #EAC696;

@import "base/reset";
@import "layout/header";
@import "layout/footer";
@import "layout/section-principal";
@import "media-queries/media-desktop";