.bienvenida {
	padding: 10px;
	font-family: $font-family_1;
	font-size: 1.2rem;
	justify-content: center;
}
.col {
	border: 1px solid #222222;
}
.col-8 {
	border: 1px solid #222222;
}
.col-4 {
	img {
		height: 200px;
	}
}
.info {
	padding: 10px;
	text-align: center;
	font-family: $font-family_1;
	font-size: 1.2rem;
}
.cuadros {
	font-family: $font-family_1;
	padding: 10px;
	h2 {
		text-align: center;
	}
}

.sabores {
	font-family: $font-family_1;
    display: flex;
	border: 1px solid black;
	border-radius: 1px;
	margin: 150px auto;
    width: 70%;
} 